@*Just creating a very basic Confirmation page for the viewer once they submit the MovieForm*@

@{
    ViewData["Title"] = "Form Submitted";
}

@model JacobOlsenMission.Models.ApplicationResponse

<h2>@Model.Title has been submitted. Thank you!</h2>
