@*Just creating a very basic Confirmation page for the viewer once they submit the MovieForm*@

@{
    ViewData["Title"] = "Form Submitted";
}

@model JacobOlsenMission.Models.ApplicationResponse

@*The confirmation will dynamically show the movie title the user just entered in the header.*@
<h2>@Model.Title has been submitted. Thank you!</h2>
