@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@*Creating a basic landing page, which includes a picture of Joel Hilton as well as a link to the MovieForm*@

<h1>Welcome to the Joel Hilton Film Collection</h1>

<img src="~/img/joel.jpg" height="500" /><br /><br />

<div>
    <a asp-controller="Home" asp-action="MovieForm">Add a New Movie</a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>
