@{
    ViewData["Title"] = "Movie Form";
}

@model JacobOlsenMission.Models.ApplicationResponse

<h1>Please enter in the Movie Information</h1>

@*Here is the form for the user to enter in their movie information, which uses the post method*@
<div>
    <form method="post" asp-validation-summary="All">
        @*All attributes are required besides Edited, Lent To, and Notes*@
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">

            @*To break up the Category into separate options and to avoid redundancy, the program will
                go through the Category table and add each category name as an option.*@
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categorys)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select><br />

        <label asp-for="Title">Title:</label>
        <input asp-for="Title" required/><br />

        <label asp-for="Year">Year:</label>
        <input asp-for="Year" required/><br />

        <label asp-for="Director">Director:</label>
        <input asp-for="Director" required/><br />
        @*The Rating field is a dropdown menu with 4 options*@
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" required> 
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG13">PG-13</option>
            <option value="R">R</option>
        </select><br />
        @*The Edited field is also a dropdown, with a Yes or No option. This will be reflected as boolean in the database*@
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select><br />

        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo"/><br />
        @*I set the max length of the Notes input to 25 characters. This restraint is also enforced in the model.*@
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" maxlength="25"/><br /><br />

        <button type="Submit">Submit Form</button>
    </form>
</div>
