@*Here is a very basic, but separate MyPodcasts page, which includes the baconsale link. It also has a different title.*@

@{
    ViewData["Title"] = "My Podcasts";
}

<h1>Welcome to My Podcasts</h1>

<label>Baconsale</label><br />
<a href="https://baconsale.com/">Click Here</a>